.app-container {
    display: flex;
}

.chompi-container {
    flex: 1;
    margin: 2vw;
    height: 20%;
    position: sticky;
    top: 30px;
}

.chompi {
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    background-color: #cac;
    height: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}

ol, ul {
    padding-left: 30px;
}

.sample-slot {
    transition: background 0.3s ease-in-out;
    border-radius: 6px;
    float: left;
    font-size: 20px;
    line-height: 34px;
    width: 17%;
    height: 0;
    padding-bottom: 6%;
    margin-right: 3px;
    margin-top: 2px;
    padding: 2;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.bank-btn {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    flex: 1,
}

.sampler-btn {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    flex: 1;
}

.bank-btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.sampler-btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.sample-slot-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}

.import-export-btn {
    border-radius: 5px;
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Lato';
    font-size: 30px;
    src: local('Lato'), url(./fonts/Lato-Bold.ttf) format('ttf');
    flex: 1;
    user-select: none;
}

.import-export-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.sample-display {
    width: 60%;
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: #333;
    color: #ddd;
    line-height: 50px;
    text-align: center; 
}