body {
    background: #222;
    width: 98%;
    height: 100%;
}

body, html { 
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('ttf');
}

.app-container {
    display: flex;
}

.chompi {
    flex: 1;
    margin-right: 20px;
}

.browser {
    flex: 1;
}