body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.sample-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.black-key {
    background: #444;
    float: left;
    width: 34px;
}

.white-key {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 2;
    text-align: center;
    width: 34px;
}

.spacer-key {
    float: left;
    width: 34px;
}

.sample-box {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin: 20px 0;
    padding: 20px;
}

.white-key:focus {
    outline: none;
}

.kbd-navigation .white-key:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
  